<a href="https://colab.research.google.com/github/Buzhynskaya-Daria/LESSON-05.-Control-Flow-Iteration-Essentials/blob/main/Copy_of_%F0%9F%93%9A_Lesson_Control_Flow_%26_Iteration_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

#  **Control Flow & Iteration Essentials**

*Be sure to be following along with the lesson page before progressing in this notebook!*

## **ðŸ›Â Practice Playground** - Section 1
In programming, conditionals and control flow are fundamental concepts that enable decision-making within your code. This section will introduce you to the use of if, elif, and else statements in Python, which allow your programs to execute different blocks of code based on certain conditions.

In [1]:
# Run this cell!

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [2]:
# Run this cell!

age = 20
if age < 13:
    print("child")
elif age < 20:
    print("teenager")
else:
    print("adult")

adult

In [3]:
# Run this cell!

a = 15
if a > 10 and a < 20:
    print("a is between 10 and 20")

a is between 10 and 20

In [4]:
# Run this cell!

a = 25
if a > 10 and a < 20:
    print("a is between 10 and 20")

## **ðŸ›Â Practice Playground** - Section 2
For loops in Python are used for iterating over a sequence (like a list, tuple, dictionary, set, or string), allowing you to execute a block of code repeatedly for each item in the sequence. This makes them incredibly useful for tasks that require repetitive actions with each element of an iterable.

In [5]:
# Run this cell!

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
# Run this cell!

for char in "banana":
    print(char)

b
a
n
a
n
a

## **ðŸ›Â Practice Playground** - Section 3
For loops are incredibly useful for iterating over sequences.

In [7]:
# Run this cell!

sentence = "I have always admired the scarlet macaws in the Amazon."
count = 0
for char in sentence:
    if char == 'a':
        count += 1
print(f"The letter 'a' appears {count} times.")

The letter 'a' appears 8 times.

In [8]:
# Run this cell!

sentence = "I have always admired the Scarlet macaws in the Amazon."
count = 0
for char in sentence.lower():  # Convert the sentence to lowercase
    if char == 'a':
        count += 1
print(f"The letter 'a' appears {count} times.")

The letter 'a' appears 9 times.

---

## **ðŸ›Â Practice Playground** - Section 4
For loops can also be used to construct strings step-by-step, allowing for precise manipulation of each character. This can be useful for tasks like creating patterns or custom filters.

In [9]:
# Run this cell!

# Simple string
message = "Hello"

# Empty string to accumulate modified characters
new_message = ""

# Append each character twice to the new string
for char in message:
    new_message += char * 2

# Display the modified string
new_message

'HHeelllloo'

In [10]:
# Run this cell!

# Define a string
sentence = "Hello world"

# Empty string to accumulate results
new_sentence = ""

# Replace vowels with underscores and keep consonants
for char in sentence:
    if char.lower() in 'aeiou':
        new_sentence += '_'
    else:
        new_sentence += char

# Display the new string
new_sentence

'H_ll_ w_rld'

## **ðŸ›Â Practice Playground** - Section 5

Dictionaries are incredibly versatile data structures in Python that store data in key-value pairs. This allows for efficient data retrieval by key, rather than by index as in lists or tuples.

In [11]:
# Run this cell!

# Original list of numbers
numbers = [1, 2, 3, 4, 5]

# Empty list to store doubled values
doubled_numbers = []

# Doubling each number and adding it to the new list
for number in numbers:
    doubled_numbers.append(number * 2)

# Displaying the new list with doubled values
doubled_numbers

[2, 4, 6, 8, 10]

In [12]:
# Run this cell!

doubled_numbers = [number * 2 for number in numbers]

doubled_numbers

[2, 4, 6, 8, 10]

## **ðŸ›Â Practice Playground** - Section 6

The range() function is often used with for loops to specify the number of iterations. The function generates a sequence of numbers, which can be used to repeat an action multiple times.

In [13]:
# Run this cell!

for i in range(5):
    print("I love Python!")

I love Python!
I love Python!
I love Python!
I love Python!
I love Python!

In [14]:
# Run this cell!

for i in range(4):
    print(i)

0
1
2
3

In [15]:
# Run this cell!

for i in range(3, 7):
    print(i)

3
4
5
6

In [16]:
# Run this cell!

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [17]:
# Run this cell!

for x in range(3):
    for y in range(3,6):
        print(f"Coordinate: ({x}, {y})")

Coordinate: (0, 3)
Coordinate: (0, 4)
Coordinate: (0, 5)
Coordinate: (1, 3)
Coordinate: (1, 4)
Coordinate: (1, 5)
Coordinate: (2, 3)
Coordinate: (2, 4)
Coordinate: (2, 5)

In [18]:
# Run this cell!

for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## **ðŸ›Â Practice Playground** - Section 7

In Python, the break, continue, and pass statements provide more control over the behavior of loops.

In [22]:
# Run this cell!

for num in range(10):
    if num == 5:
        break

In [20]:
# Run this cell!

for num in range(10):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [23]:
# Run this cell!

for num in range(10):
    if num % 2 == 0:
        pass
    else:
        print(num)

1
3
5
7
9

## **ðŸ›Â Practice Playground** - Section 8

While loops in Python are used for repeated execution as long as an expression (condition) is true. They are less commonly used in data analysis compared to for loops, but they are still valuable for certain tasks where the number of iterations isn't known beforehand, such as responding to user input or waiting for a specific condition to change.

In [24]:
# Run this cell!

# Starting count at 10
count = 10

# Loop will run as long as count is greater than 0
while count > 0:
    print(count)
    count -= 1  # Decrement count by 1 each iteration

# Prints "Blast off!" after exiting the loop
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [25]:
# Run this cell!

# Simulated sensor reading
sensor_value = 75

# Waiting for the sensor value to drop below 50
while sensor_value >= 50:
    print("Waiting for sensor value to drop below 50...")
    sensor_value -= 5  # Simulate sensor value change

print("Sensor value is low enough to proceed.")

Waiting for sensor value to drop below 50...
Waiting for sensor value to drop below 50...
Waiting for sensor value to drop below 50...
Waiting for sensor value to drop below 50...
Waiting for sensor value to drop below 50...
Waiting for sensor value to drop below 50...
Sensor value is low enough to proceed.

# **Extra Examples**

### 1. Print Numbers

Print the numbers numbers 1 through 5.

In [26]:
for num in range(1,6):
  print(num)

1
2
3
4
5

### 2. Square Numbers

Write a loop that prints the squares of numbers from 1 to 20 (inclusive).

In [27]:
for num in range(1,21):
  print(num**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### 3. Even Numbers

Write a loop that prints all of the EVEN numbers between 10 and 20 (inclusive). There are two good answers to this!

In [28]:
# Option 1
for n in range(10, 21):
    if n % 2 == 0:
        print(n)

10
12
14
16
18
20

In [29]:
# Option 2
for n in range(10, 21, 2):
    print(n)

10
12
14
16
18
20

### 4. Print Patterns
Write a loop that prints the following pattern:

```python
*
**
***
****
*****
```

In [30]:
for i in range(1,6):
  print('*' * i)

*
**
***
****
*****

### 4. Sum of Numbers

Write a loop that calculates and prints the sum of numbers from 1 to 10.

In [31]:
my_sum = 0

for num in range(1,11):
  my_sum += num

my_sum

55

### 5. Count the letter 'A'

Write a loop that counts the number of times the letter 'A' (either upper or lowercase!) is present in a sentence.

In [32]:
sentence = 'An apple a day keeps the doctor away!'

my_count = 0
for letter in sentence:
  if letter.lower() == 'a':
    my_count += 1

my_count

6

## Aside: Strange Loops!
You can also loop through more exotic objects that take advantage of _tuple unpacking!_ We won't see this very often, but when we do, it'll be really handy.

In [33]:
animals = [
    ('zebra', 'mammal'),
    ('tuna', 'fish'),
    ('python', 'reptile'),
    ('panda', 'mammal'),
    ('frog', 'amphibian')
]

for animal, aclass in animals:
    print(f'{animal.title()} is a type of {aclass}.')

Zebra is a type of mammal.
Tuna is a type of fish.
Python is a type of reptile.
Panda is a type of mammal.
Frog is a type of amphibian.